/* 1. --- Web Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sanchez:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

@font-face {
    font-family: 'ceragr-regularuploaded_file';
    src: url('../fonts/cera-gr-webfont.woff2') format('woff2'),
         url('../fonts/cera-gr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ceragr-mediumuploaded_file';
    src: url('../fonts/cera-gr-medium-webfont.woff2') format('woff2'),
         url('../fonts/cera-gr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 2. ---General Styles--- */

/* outline sits outside the border, but it does not take up space. It’s more like a visual effect painted around the element. */
#mobile-outline {
   outline: 20px solid #333;
   width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   overflow: hidden;
} 

.flexbox {
   display: flex;
   justify-content: space-between;

}

.no-padding {
    padding: 0;
}


a {
    text-decoration: none;
    transition: all .5s ease-in-out;
    color: #626262;
}

ul, li {
    margin: 0;
    padding: 0;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Sanchez', serif;
    font-weight: 300;
}

h2 {
    font-size: 18px;
}

p {
    line-height: 25px;
    margin-bottom: 15px;
}

body {
    margin: 0;
    padding: 0;
    color: #2f2f2f;
    font-family: 'Inter', sans-serif;
    font-weight: 450;
    font-size: 13px;
}

.topo-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: url(../images/topography.svg);
    opacity: 0.15;
    background-repeat: no-repeat;
    background-size: 700px;
}


.cr-red {
    color: #9a2018;
}

.button {
    display: grid;
    background-color: #992120;
    color: white;
    text-align: center;
    place-items: center;
    cursor: pointer;
}

.button:hover {
    background-color: #CF4241;
}

.breadcrumb {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
}
    .breadcrumb li {
        display: inline;
    }
        .breadcrumb a {
            color: #9a2018;
        }
        .breadcrumb a:hover {
            color: #ffa9a9;
            text-decoration: underline;
        }
        .breadcrumb li+li::before {
            content: " / ";
        }

/* 3. ---Header--- */

#main-nav label img {
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 20px;
	height: 20px;
	transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
 }
 
 #main-nav li a {
     display: block;
     padding: 10px 0 10px 0;
     text-align: center;
     color: #626262;
 }
 
 #main-nav li {
     border-bottom: 1px solid #efefef;
 }

#burger-con, #main-nav input {
    display: none;
}

/* The general sibling combinator ~ means: “Select any element that is a sibling (shares the same parent) and comes after the target element in the DOM.” */

/* When the checkbox is checked, target the <ul id="burger-con"> that comes after it in the markup. */
 #main-nav input:checked ~ #burger-con {
    display: block;
 }

 /* When the checkbox is checked, target the <img> inside the <label> that comes after it. */
 #main-nav input:checked ~ label img{
    transform: rotate(90deg);
 }

 /* 3. ---Hero--- */
#hero {
    z-index: 3;
}

#hero-img, #hero-container {
    grid-row: 1 / 1;
    grid-column: 1/-1;
}

#book-now {
    height: 54px;
    grid-row: 1/2;
}

#hero-container {
    grid-template-rows: 55px auto 73px;
}

.hero-h2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 15px;
    background-color: white;
    grid-column: 1/-1;
    grid-row: 3/4;
}

.headline{
    width: 100%;
    margin: 20px 0;
    border: 2px solid #9a2018;
}

 /* 4. ---Intro--- */
#address {
    position: relative;
    background-color: #006F79;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

#address h2 {
    margin-bottom: 20px;
}

#address div, #address img {
    z-index: 3;
}

#address details {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#address summary {
    font-size: 13px;
    margin-bottom: 20px;
}
    #address summary:hover {
        color: #ffb8b8;
    }

#address details[open] summary {
    order: 1;
}
    #address details summary::after{
        content: "READ MORE...";
    }
    #address details[open] summary::after{
        content: "SEE LESS";
    }

.photograph{
    margin-top: 15px;
    margin-bottom: 60px;
}

.photograph:first-of-type {
    transform: rotate(-15deg) translate(25px);
}
.photograph:nth-of-type(2) {
    transform: rotate(28deg) translate(-25px,20px);
}

 /* 5. ---Experiences--- */
