/* 1. --- Web Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sanchez:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

@font-face {
    font-family: 'ceragr-regularuploaded_file';
    src: url('../fonts/cera-gr-webfont.woff2') format('woff2'),
         url('../fonts/cera-gr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ceragr-mediumuploaded_file';
    src: url('../fonts/cera-gr-medium-webfont.woff2') format('woff2'),
         url('../fonts/cera-gr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 2. ---General Styles--- */

/* outline sits outside the border, but it does not take up space. It’s more like a visual effect painted around the element. */
#mobile-outline {
   outline: 20px solid #333;
   width: 412px;
   margin: 20px auto 20px auto;
   border-radius: 10px;
   overflow: hidden;
} 

.flexbox {
   display: flex;
   justify-content: space-between;

}

.no-padding {
    padding: 0;
}


a {
    text-decoration: none;
    transition: all .5s ease-in-out;
    color: #626262;
}

ul, li {
    margin: 0;
    padding: 0;
}

input, textarea {
    display: block;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: 'Sanchez', serif;
    font-weight: 300;
}

h2 {
    font-size: 18px;
}

p {
    line-height: 25px;
    margin-bottom: 15px;
}

body {
    margin: 0;
    padding: 0;
    color: #2f2f2f;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: 450;
}

.topo-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 1;
    background-image: url(../images/topography.svg);
    opacity: 0.05;
    background-repeat: no-repeat;
    background-size: 700px;
}


.cr-red {
    color: #9a2018;
}

.italic {
    font-style: italic;
}

.btn {
    display: grid;
    min-height: 45px;
    background-color: #992120;
    color: white;
    border: none;
    font-size: 14px;
    text-align: center;
    place-items: center;
    cursor: pointer;
}

.btn:hover {
    background-color: #CF4241;
}

.breadcrumb {
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
}
    .breadcrumb li {
        display: inline;
    }
        .breadcrumb a {
            color: #9a2018;
        }
        .breadcrumb a:hover {
            color: #ffa9a9;
            text-decoration: underline;
        }
        .breadcrumb li+li::before {
            content: " / ";
        }

/* 3. ---Header--- */

#main-nav label img {
	background: url(../images/burger.svg) center no-repeat;
	border: 0px;
	width: 20px;
	height: 20px;
	transition: all .5s ease;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
 }
 
 #main-nav li a {
     display: block;
     padding: 10px 0 10px 0;
     text-align: center;
     color: #626262;
     font-size: 14px;
 }
 
 #main-nav li {
     border-bottom: 1px solid #efefef;
 }

#burger-con, #main-nav input {
    display: none;
}

 #main-nav input:checked ~ #burger-con {
    display: block;
 }

 #main-nav input:checked ~ label img{
    transform: rotate(90deg);
 }

 #logo {
    padding-bottom: 10px;
 }


 /* A3. ---Hero Intro--- */
#main-hero {
    margin-top: 20px;
}

.hero-overlap {
   grid-row: 1/1; 
}

.book-now {
    background-color: #9a2018;
    color: #fff;
    font-size: 16px;
    transition: background-color 500ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition: all 1s ease;
    cursor: pointer;
    grid-row: 1/2;
    height: 67px;
 }

 .book-now:hover {
    box-shadow: inset 0px -120px 0px 0px rgb(196, 28, 28);
 }

 .hero-img-h2 {
    background: rgb(255, 255, 255);
    padding: 15px 15px;
    grid-column: 1/-1;
    grid-row: 2/3;
    align-self: end;
 }
 
 .hero-img-h2 span {
    color: #9a2018;
    font-family: 'Cabin', sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: 450;
 }
 .hero-img-h2 .breadcrumb {
        margin-bottom: 5px;
 }

.headline{
    width: 100%;
    margin: 20px 0;
    border: 2px solid #9a2018;
}



 /* A ---INDEX--- */
.hero-overlap {
    grid-column: 1/-1;
    grid-row: 1/-1;
}

 /* 4. ---Hero Contact--- */
 #hero-contact {
    font-size: 12px;
    background-color: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
 }

 #contact-con div {
   display: flex;
   justify-content: center;
 }

 .fas {
    font-size: 50px;
    color: #9a2018;
    /* margin: 0 auto; */
    /* float: left; */
 }
 
 .fa-mobile-alt {
    /* margin-left: 50px; */
    margin-right: 13px;
    margin-bottom: 20px;
 }
 
 .fa-map-marker-alt {
    /* margin-left: 47px; */
    margin-right: 10px;
 }
 

/* 5. --- Why Couples Resort--- */

#why-choose-us-nav {
    padding-top: 20px;
 }
 
 #why-choose-us-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
 }
 #why-choose-us-nav ul li {
    margin-bottom: 15px;
 }
 
 #why-choose-us-nav ul li a {
   color: inherit;
   padding: 5px;
 }
 
 #why-choose-us-nav ul li a.selected {
    border-left: #9a2018 solid 5px;
  }

/* first-of-type will match the first occurrence of a specified element, even if it doesn’t come absolutely first in the HTML. */
#why-options section:first-of-type  {
    border-top: solid 3px #CF4241;
    margin-top: 15px;
    padding-top: 40px;
}

.why-us-img {
    font-size: 12px;
}

.why-us-img img {
    float: left;
    margin-right: 10px;
}

.why-us-img h3 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 20px;
}

.why-us-img a {
    color: #992120;
}

#why-choose-us-bottom-nav {
    background-color: #CF4241;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
 }
 
 #why-choose-us-bottom-nav ol {
    list-style-type: none;
    margin: 0 0 0 0px;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
 }
 
 #why-choose-us-bottom-nav ol li {
    display: inline;
    
 }
 
 #why-choose-us-bottom-nav ol li a {
    padding: 5px;
    color: #fff;
    text-decoration: underline;
 }

 /* 6. ---About & FAQ --- */

#about-text-group1 {
    border-top: solid 3px #CF4241;
    margin-top: 15px;
    padding-top: 40px;
}

.faq {
    background-color: #f4f4f4;
    padding-top: 35px;
    padding-bottom: 50px;
 }
 
 .faq h2 {
    font-size: 24px;
    border-bottom: solid 3px #CF4241;
    margin-bottom: 50px;
    padding-bottom: 40px;
 }
 
 .faq h2 span {
    color: #9a2018;
    font-size: 16px;
 }
 
 .faq-items {
    margin-bottom: 16px;
    list-style: none;
 }
 
 .faq-items summary {
    font-family: "Sanchez", serif;
    background: #e8e7e7;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
 }
 
 .faq-items ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 
 .faq-items li {
    padding: 8px 0;
    border-bottom: 1px solid #9a2018;
 }   
 
 .faq-items a {
    color: inherit;
    font-size: 13px;
 }
 
 .faq-list-con {
    margin-top: 5px;
    margin-bottom: 20px;
 }
 
/* 7. ---Contact Form--- */

#contact-form-text p {
    border-top: solid 3px #CF4241;
    margin-top: 15px;
    padding-top: 40px;
    line-height: 22px;
 }

  #contact-form-adress-left {
    margin-bottom: 20px;
  }

 #contact-form-adress-left h3 {
    font-size: 22px;
    margin-bottom: 5px;
    font-family: 'ceragr-regularuploaded_file', arial, sans-serif;
 }

 #contact-form-adress-left p {
    line-height: 24px;
 }

 #contact-form-fields-right form {
    display: flex;
    flex-direction: column;
 }
 
 #contact-form-fields-right input, textarea {
    padding: 14px;
    border: 2px solid #d6d6d6;
    background-color: #f7f7f7;
    border-radius: 5px;
    margin-bottom: 30px;
    font: inherit;
 }
 
 #contact-form-fields-right textarea {
    height: 250px;
 }
 
 #contact-form-fields-right input[type="submit"] {
    padding: 12px 28px;
    background: #9a2018;
    color: #fff;
    border: none;
    transition: all 200ms ease-in;
    width: 150px;
    align-self: flex-end;
 }

 #contact-form-fields-right input[type="submit"]:hover {
    background-color: #626262;
    border-radius: 0;
 }

/* ---  END OF INDEX PAGE --- */



 /* B --- SUMMER PAGE --- */
 /* B4. ---Intro--- */
#address {
    margin-top: 80px;
}

#address-overlap {
    height: 240px;
    grid-template-rows: 240px;
    align-items: end;
}

#address-overlap > div {
    z-index: 2;
}

#address-overlap h2 {
    z-index: 3;
}

#photo-con {
    position: relative;
    width: 100%;
    height: 152px;
    background-color: darkcyan;
}

#address details {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#address summary {
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 20px;
}
    #address summary:hover {
        color: #ffb8b8;
    }

#address details[open] summary {
    order: 1;
}
    #address details summary::after{
        content: "READ MORE...";
    }
    #address details[open] summary::after{
        content: "SEE LESS";
    }

.photograph{
    margin-top: 15px;
    margin-bottom: 60px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.photograph:first-of-type {
    transform: rotate(-15deg) translate(25px);
}
.photograph:nth-of-type(2) {
    transform: rotate(28deg) translate(-25px,20px);
}

 /* 5. ---Experiences--- */
#experiences {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 50px;
    z-index: 3;
}

#experiences h2 {
    margin: 15px 0;
}
#exp-gallery {
    list-style: none;
}

#exp-gallery li {
    margin-bottom: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.activity {
    display: grid;
    min-height: 280px;
    background-color: #d9d9d9;
    color: #992120;
    grid-template-columns: auto;
    grid-template-rows: 222px auto;
    transition: all linear 0.2s;
}

.activity img {
    grid-column: 1/1;
    grid-row: 1/2;
    max-width: 100%;
}

.activity::before {
    content: "";
    grid-column: 1/1;
    grid-row: 1/2; 
    z-index: 2;
    max-width: 100%;  
    background-image: linear-gradient(to bottom, white, black);
    opacity: 23%;
    mix-blend-mode: multiply; 
}

.activity span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/1;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 18px;
    font-family: 'Sanchez', sans-serif;
    overflow-x: hidden;
}

.activity:hover {
    background-color: #CF4241;
    color: white;
}

.activity:hover::before{
    opacity: 5%;
}

.activity:hover > span::after {
    content: "→";
    position: relative;
    font-size: 32px;
    font-weight: 100;
    font-family: 'Google Sans Code', sans-serif;
    animation: moveloop 1.5s linear 0.5s infinite;
}

@keyframes moveloop {
    0% {opacity: 0; left: -10px;}
    10% {opacity: 0; left: -10px;}
    25% {opacity: 100%;}    
    50% {opacity: 100%;}
    75% {opacity: 100%;}
    90% {opacity: 0; left: 17px;}
    100% {opacity: 0; left: 17px;}
}

#load-more {
    height: 45px;
    border-radius: 5px;
    padding: 0;
    align-content: center;
    justify-content: center;
    overflow-x: hidden;
    grid-template-columns: 20px auto;
    column-gap: 10px;
}
#load-more span {
    text-align: center;
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 2;
}

#load-more:hover span {
    grid-column: 2/3;
}
#load-more:hover::after {
    content: url(../images/CR-load.svg);
    width: 20px;
    grid-column: 1/2;
    animation: loading-btn 3s linear 0s infinite;
}

@keyframes loading-btn {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}



 /* 6. ---Quote--- */
 #quote {
    height: 350px;
    box-sizing: border-box;
    margin: 10px 0 48px;
    padding: 40px 45px;
    background-image: url(../images/summer-quote.jpg);
    color: white;
 }

blockquote {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(4,auto);
}

q{
    font-family: 'Sanchez', serif;
    font-size: 22px;
    font-style: italic;
    margin-bottom: 20px;
}

.quote-author {
    font-size: 14px;
    font-weight: 200;
}

 /* 7. ---Vouchers--- */
#voucher > div {
    height: 228px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/summer-voucher.png);
    background-color: rgba(255, 255, 255, 0.75);
    background-blend-mode: lighten;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

#voucher h2 {
    color: #992120;
    width: 264px;
    margin-bottom: 10px;
}

#voucher p {
    font-size: 11px;
    margin-bottom: 20px;
}
#voucher .btn {
    width: fit-content;
    padding-left: 12px;
    padding-right: 12px;
}

/* 8. --- Footer --- */

#main-footer {
    background-image: url(../images/footer.jpg);
     background-repeat: no-repeat;
     background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 12px;
    margin-top: 40px;
    padding-bottom: 80px;
 }

 #main-footer-contact-info h3 {
    font-size: 26px;
    margin-top: 28px;
    margin-bottom: 10px;
    font-family: 'Cabin', sans-serif;
 }

 #main-footer-contact-info p {
    line-height: 22px;
 }

 #main-footer nav {
    display: none;
 }

 #price-policy {
    font-size: 9px;
    border-top: solid 3px #CF4241;
    margin-top: 15px;
    padding-top: 30px;
    line-height: 22px;
 }